attrs==24.3.0
blinker==1.7.0
click==8.1.8
colorama==0.4.6
Flask==3.0.0
itsdangerous==2.2.0
Jinja2==3.1.5
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
MarkupSafe==2.1.5
PyJWT==2.8.0
PyYAML==6.0.2
referencing==0.36.2
rpds-py==0.16.2
Werkzeug==3.0.6
